<script setup lang="ts">
import FancyButton from "@/components/FancyButton.vue";
import { mdiHeart, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>
<template>
  <v-contain>
    <v-row>
      <v-col
        ><FancyButton
          ><v-icon :icon="mdiHeart" />Love Me
          <template v-slot:tail> Tail </template>
        </FancyButton>
      </v-col>
      <v-col>
        <FancyButton>
          <template #tail
            ><v-icon :icon="mdiCursorDefaultClickOutline" />
          </template>
          Click Me
        </FancyButton>
      </v-col>
    </v-row>
  </v-contain>
</template>
