<script setup lang="ts">
import {
  mdiCardAccountDetailsOutline,
  mdiBookOpenVariant,
  mdiAccountHeart,
  mdiMovieOpen,
  mdiAccountMusicOutline,
} from "@mdi/js";
</script>
<template>
  <v-parallax
    height="300px"
    src="https://www.wazzadu.com/thumbs/product/resize/1024/product_62524fe0-bc18-11ea-b05f-b5356612a46d.jpg"
  >
    <v-container>
      <v-row
        style="
          margin-top: 85px;
          margin-left: 480px;
          font-size: 50px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          color: white;
        "
        >My Profile</v-row
      >
      <v-row justify="center">
        <v-avatar size="200">
          <v-img src="it'sme.jpg" cover></v-img>
        </v-avatar>
      </v-row> </v-container
  ></v-parallax>
  <p class="fonts">Titapon Keawbua</p>
  <p class="fonts">ฐิตาพร เขียวบัว</p>
  <h1 class="fonts1">
    ประวัติส่วนตัว
    <v-icon :icon="mdiCardAccountDetailsOutline" size="40px"></v-icon>
  </h1>
  <br />
  <v-container>
    <v-row justify="center">
      <v-col cols="8">
        <v-table
          style="
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          <tbody>
            <tr>
              <th>ชื่อ-นามสกุล</th>
              <td>ฐิตาพร เขียวบัว</td>
            </tr>
            <tr>
              <th>ชื่อเล่น</th>
              <td>มินนี่</td>
            </tr>
            <tr>
              <th>วันเกิด</th>
              <td>1 ธันวาคม 2545</td>
            </tr>
            <tr>
              <th>อายุ</th>
              <td>20 ปี</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <h1 class="fonts1">
    ประวัติการศึกษา <v-icon :icon="mdiBookOpenVariant" size="40px"></v-icon>
  </h1>
  <br />
  <v-timeline direction="horizontal">
    <v-timeline-item dot-color="yellow lighten-5">
      <template v-slot:opposite> ระดับประถมศึกษา </template>
      <div>
        <div class="text-h6" style="margin-left: 10px">โรงเรียนนักบุญเปโตร</div>
        <p style="margin-left: -5px">ปฐมวัยปีที่ 1 - ประถมศึกษาปีที่ 6</p>
        <v-img
          src="https://upload.wikimedia.org/wikipedia/th/1/13/St%27s_peter_school_logo.jpg"
          cover
          max-height="300"
          max-width="160"
          style="margin-left: 20px"
        ></v-img>
      </div>
    </v-timeline-item>

    <v-timeline-item dot-color="red accent-1">
      <template v-slot:opposite> ระดับมัธยมศึกษา </template>
      <div>
        <div class="text-h6" style="margin-left: 45px">โรงเรียนนักบุญเปโตร</div>
        <p style="margin-left: 10px">มัธยมศึกษาปีที่ 1 - มัธยมศึกษาปีที่ 6</p>
        <v-img
          src="https://upload.wikimedia.org/wikipedia/th/1/13/St%27s_peter_school_logo.jpg"
          cover
          max-height="300"
          max-width="160"
          style="margin-left: 45px"
        ></v-img>
      </div>
    </v-timeline-item>

    <v-timeline-item dot-color="blue">
      <template v-slot:opposite> ระดับอุดมศึกษา </template>
      <div>
        <div class="text-h6">มหาวิทยาบูรพา วิทยาเขตบางแสน</div>
        <p style="margin-left: 10px">
          อุดมศึกษาระดับปริญญาตรีปีที่ 1 - ปัจจุบัน
        </p>
        <v-img
          src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/04/logo-informatics.png"
          cover
          max-height="300"
          max-width="160"
          style="margin-left: 65px"
        ></v-img>
      </div>
    </v-timeline-item>
  </v-timeline>
  <h1 class="fonts1">
    สิ่งที่สนใจ <v-icon :icon="mdiAccountHeart" size="40px"></v-icon>
  </h1>
  <br />
  <v-table>
    <tr>
      <td>
        <v-card
          class="mx-auto"
          width="400"
          :prepend-icon="mdiAccountMusicOutline"
        >
          <template v-slot:title> Cover Dance </template>

          <v-card-text>
            <v-img
              width="500px"
              src="https://www.ryt9.com/img/files/20220718/iq8c83a2c5950442cb4f64c9a54c08bd35.jpg"
            ></v-img>
          </v-card-text>
        </v-card>
      </td>
      <td>
        <v-card class="mx-auto" width="400" :prepend-icon="mdiMovieOpen">
          <template v-slot:title> Movie </template>

          <v-card-text
            ><v-img
              width="500px"
              src="https://www.protocol.com/media-library/netflix-queried-people-in-a-survey-about-a-wide-range-of-features-and-content-including-podcasts-user-generated-playlists-how.jpg?id=24541797&width=1200&height=600&coordinates=0%2C501%2C0%2C502"
            ></v-img
          ></v-card-text>
        </v-card>
      </td>
    </tr>
    <br />
  </v-table>
</template>

<style>
.fonts {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: black;
  font-size: 20px;
}

.fonts1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(6, 8, 70);
  padding-left: 20px;
}
</style>
